.card{
    width: 400px;

    height: 400px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;

}
.card-heder{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}